
        #shape{
            background-color: red;
            display: none;
        }
        
        .center{
            text-align: center;
        }

        .bold{
            font-weight: bold;
        }

        .score{
            position: absolute;
            left: 90%;
        }
